<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hoster.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shared.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Widget2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D411EDEA19C2A59B0054439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D411EDFC19C2A59B0054439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D411EE1019C2A5CC0054439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44D33612362428B001C44A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44D33752362D44D001C44A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48F9A9724A2584E000CB53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4CD22A62362D9EA000409CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
